.component-TaskSummaryView {
  /*display: flex;*/
  /*flex-direction: column;*/
  height: 100%;
}

.component-TaskSummaryView .task-summary-ribbon {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.component-TaskSummaryView .task-summary-bar {
  height: 110px;
  position: fixed;
  z-index: 10;
  background-color: #eee;
  width: 100%;
}
.component-TaskSummaryView .task-summary-bar-spacer {
  height: 110px;
}

.component-TaskSummaryView .spacer {
  flex: 1;
}

.component-TaskSummaryView .task-activities {
  flex: 1;
  background-color: #eee;
  text-align: left;
  padding: 5px;
}

.component-TaskSummaryView .task-activity-bar {
  background-color: #fff;
  min-height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.component-TaskSummaryView .task-activity-bar .MuiButton-text {
  /* margin-top: -30px; */
}

.component-TaskSummaryView .task-activity-bar .textarea {
  outline: none;
  margin: 5px;
  min-height: 35px;
  width: 60%;
}
