* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App .app-content {
  /* sorry */
  /* height: calc(100vh - 50px); */
}

.App.loading-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

pre {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  margin: 0;
}