* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App .app-content {
  /* sorry */
  position: fixed;
  height: calc(100vh - 50px);
}

.App.loading-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
